<ul>
  <li><%= @racecar.name %></li>
  <li><%= @racecar.top_speed %></li>
  <li><%= @racecar.color %></li>
  <li><%= @racecar.crash_test_rating %></li>
</ul>

<%= simple_form_for [@racecar, @like] do |f| %>
  <%= f.button :submit %>
<%- end -%>
